.journey_content {
    padding: 3em;
}

.flex-container {
    display: flex;
    /* background-color: DodgerBlue; */
}

.flex-container>div {
    width: 100%;
}

.red {
    color: #ff6464;
}

.bold {
    font-weight: bold;
}

