.personaLeft, .personaRight {
    height: calc(100vh - 3.8em);
}

.personaRight {
    /*  */
}

.personaContent {
    max-width: 25em;
    margin: auto;
}

.personaDiagnosis {
    font-size: 80%;
}

.personaContent p {
    text-align: justify;
    padding-top: 3em;
    line-height: 1.5;
}

/* .personaDiagnosis {
    line-height: 4;
} */


.Jonathan {
    content: url(../../images/Jonathan.jpg);
    width: 100%;
    height: 700px;
}

.central{
    text-align: center;
}

.littlefont{
    text-align: center;
    font-size: 9pt;
    color: black;
    font-weight: bold;
    margin-top: 1em;
}

.middlefont{
    font-size: 10pt;
    color: black;
    line-height: 25px;
    padding-left: 2em;
    padding-right: 2em;
}

.bold{
    font-weight: 900;
}